*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	height: 100vh;
	position: relative;
	font-family: 'Montserrat', sans-serif;
}
.mobile-list {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}
nav {
	width: 100vw;
	background: chartreuse;
	padding: 15px;
}
.nav-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.logo {
	margin-right: auto;
}

.nav-links {
	width: 50vw;
}
.mobile-links {
	width: 100%;
	background-color: red;
}
.nav-list,
.mobile-list {
	display: flex;
	justify-content: center;
	align-items: center;
	li {
		list-style: none;
	}
}
.mobile-item {
	margin: 20px;
}
.nav-item,
.mobile-item {
	text-decoration: none;
	padding: 5px 10px;
	color: white;
	background: black;
	margin-right: 5px;
	border-radius: 5px;
}
.nav-selector {
	display: none;
}

.search-form {
	position: relative;
	margin-left: auto;

	input {
		padding: 5px 10px;
		border-radius: 15px;
		outline: none;
	}
	label {
		position: absolute;
		left: 20px;
		top: 5px;
		transition: all 1s;
	}
	input:focus + label {
		transition: all 1s;
		transform: translateX(-150px);
	}
}
section {
	height: 100vh;
	background-color: yellow;
}

@media only screen and (max-width: 900px) {
	nav {
		background: blue;
	}
	.nav-links {
		display: none;
	}
	.nav-selector {
		display: inline-block;
	}
}
@media only screen and (max-width: 650px) {
	.nav-selector {
		display: none;
	}
}
